.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-section {
  text-align: center;
  margin-top: calc(100vh / 10);
}

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }
}
